* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.my-bio {
    background-color: #1b1b1b;
    height: 45vh;

    border-radius: 0 0 40px 40px;
}

.my-bio .col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10vh;
}

.my-bio .col .bio {
    width: 40vh;
}

.my-bio .col .bio h2 {
    color: #0d6efd;
    font-weight: bold;
    font-size: 35px;
}

.my-bio .col .bio p {
    color: #ffffff;
    font-size: 18px;
}

.redes {
    width: 70%;

    display: flex;
    align-items: center;
    

    justify-content: space-between;

    margin: 250px auto;
}

.redes i {
    font-size: 25px;
}

.redes span {
    margin-left: 4px;
    
    font-size: 25px;
    font-weight: 700px;
    color: #075EF4
}

/* Resposividade */

@media (max-width: 1532px) {
    .img-works {
        display: none;
    }

    .my-bio {
        margin: 40px auto;
    }
}

@media (max-width: 580px) {

    .my-bio .col img {
        margin-top: -150px;
    }

    .redes {
        margin-top: 450px;

        display: flex;
        flex-direction: column;
    }

    .redes div {
        margin-bottom: 10px;
    }

}
